@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arvo', serif;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
  color: darkturquoise !important;
}
.links {
  margin-left: 270px;
  text-align: center;
  background-color: lightseagreen;
  color: black;
  padding: 5px;
  width: 50%;
  border: 1px solid #fff;
  border-radius: 25px;
  
  
}

.links a {
  color: #fff;
  font-weight: bold;
 
}
.links a:hover {
  color: orange;
  font-weight: bold;
 
}

